
a:link, a:visited, a:hover {
    color: white;
}

.table {
    margin:0;
}

th, td {
    overflow: hidden;
}


/* Módulo */

.btn {
    border-radius: 0px;
}

table tr {
    background-color: lightgray;
}

section {
    padding: 15px 0;
    margin-bottom: 20px;
}


.title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -2px;
    margin-bottom: 10px;
}

.row-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    position: relative;
    left: 10px;
}

.float-right {
    float: right;
}

.referencia {
    padding-right: 10px;
    font-weight: normal;
}

/*** Colores ***/

.compras {
    color: #73bf45;
}

.credito {
    color: #4078c0;
}

.entregas {
    color: #f7a332;
}


.text-white {
    color: #fff;
}

.light-green {
    background-color: #90d759;
}

.dark-green {
    background-color: #73bf45;
}

.light-blue {
    background-color: #548ac6;
}

.dark-blue {
    background-color: #4078c0;
}

.dark-red {
    background-color: darkred;
}

.light-orange {
    background-color: #f9b642;
}
.dark-orange {
    background-color: #f7a332;
}

/*** Iconos ***/

.icon {
    display: inline-flex;
    position: relative;
    top: 3px;
}

.iconcompras {
    background: url("../assets/iconcompras.png");
    width: 35px;
    height: 41px;
}

.iconcredito {
    background: url("../assets/iconcredito.png");
    width: 45px;
    height: 41px;
}

.iconentregas {
    background: url("../assets/iconentregas.png");
    width: 45px;
    height: 39px;
}

.icono_saldos_por_pagar {
    background: url("../assets/icono_saldos_por_pagar.png");
    width: 25px;
    height: 25px;
}

.icono_depositos {
    background: url("../assets/icono_depositos.png");
    width: 39px;
    height: 23px;
}

.icono_devoluciones {
    background: url("../assets/icono_devoluciones.png");
    width: 25px;
    height: 28px;
}

.arrow1 {
    background: url("../assets/arrow1.png");
    width: 24px;
    height: 24px;
    display: inline-flex;
}

.icono_pedidos_transito {
    background: url("../assets/icono_pedidos_transito.png");
    width: 32px;
    height: 30px;
}

.icono_canjes {
    background: url("../assets/icono_canjes.png");
    width: 27px;
    height: 28px;
}

.aceptado {
    background: url("../assets/aceptado.png");
    width: 27px;
    height: 23px;
}

/* Loading */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* Modal Loading */

#modal-wait div.modal-content{
    background-color: #8eb503;
    color: white;
}
