
        <!-- Sección directorio -->
        <section id="compras">
            <div class="row">  
                <div class="col-md-12">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    {{#each superiores}}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdlsuperior" data-clave="{{clave}}">
                            {{nombre}} <i class="icon arrow1"  aria-hidden="true"></i>
                        </button>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>
        <!-- /Sección directorio -->

        <!-- Sección compras -->
        <section id="compras">
            <div class="row">
                <div class="col-md-12">
                    <div class="title compras"><i class="icon iconcompras"></i> COMPRAS</div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            {{#each compras/shoppings_view}}
                            <tr class="">
                                <td>Importe catálogo actual: <strong>{{importeCatalogoActual}}</strong></td>
                                <td>Importe catálogo anterior: <strong>{{importeCatalogoAnterior}}</strong></td>
                                <td>Nivel catálogo anterior: <strong>{{nivelCatAnterior}}</strong></td>
                                <td>Venta para alcanzar nivel: <strong>{{ventaParaAlcanzarNivel}}</strong></td>
                            </tr>
                            {{/each}}
                            <tr class="dark-green">
                                <td colspan="4" class="row-title"><i class="icon icono_depositos"></i> Últimas compras</td>
                            </tr> 
                            <tr class="light-green">
                                <td colspan="2" class="text-white text-center">Semana</td>
                                <td colspan="2" class="text-white text-center">Monto</td>
                            </tr>
                            {{#each compras/shoppings_view_detail}}
                            <tr class="">
                                <td colspan="2" class="text-center">{{semana}}</td>
                                <td colspan="2" class="text-center">{{monto}}</td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Sección compras -->
        
        <!-- Sección crédito -->
        <section id="credito">
            <div class="row">
                <div class="col-md-12">
                    <div class="title credito"><i class="icon iconcredito"></i> CRÉDITO</div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            {{#each credito/balance_charger}}
                            <tr class="dark-blue">
                                <td colspan="6" class="row-title"><i class="icon icono_saldos_por_pagar">x</i> Saldos por pagar  <span class="float-right small referencia">Num. Referencia: {{NumeroReferencia}}</span></td>
                            </tr>
                            {{/each}}
                            {{#each credito/balance_charger_validity}}
                            <tr class="light-green">
                                <td colspan="2" class="text-white text-center">Importe Saldo Vigente</td>
                                <td colspan="2" class="text-white text-center">Saldo a 7 días: <strong>{{H7Dias}}</strong></td>
                                <td colspan="2" class="text-white text-center">Saldo a mas de 7 días: <strong>{{mas7Dias}}</strong></td>
                            </tr> 
                            <tr class="dark-red">
                                <td colspan="2" class="text-white text-center">Importe Saldo Vencido</td>
                                <td colspan="2" class="text-white text-center">Saldo a mas de 14 días: <strong>{{mas14Dias}}</strong></td>
                                <td colspan="2" class="text-white text-center">Saldo a mas de 21 días: <strong>{{mas21Dias}}</strong></td>
                            </tr> 
                            {{/each}}
                            <tr class="dark-blue">
                                <td colspan="6" class="row-title"><i class="icon icono_depositos"></i> Últimos Depósitos</td>
                            </tr> 
                            <tr class="light-blue">
                                <td colspan="2" class="text-white text-center">Fecha de Depósito</td>
                                <td colspan="2" class="text-white text-center">Importe de Depósito</td>
                                <td colspan="2" class="text-white text-center">Referencia de Depósito</td>
                            </tr> 
                            {{#each credito/last_store}}
                            <tr class="">
                                <td colspan="2" class="text-center">{{Fecha}}</td>
                                <td colspan="2" class="text-center">{{Importe}}</td>
                                <td colspan="2" class="text-center">{{Referencia}}</td>
                            </tr>
                            {{/each}}
                            <tr class="dark-blue">
                                <td colspan="6" class="row-title"><i class="icon icono_devoluciones"></i> Últimas Devoluciones</td>
                            </tr> 
                            <tr class="light-blue">
                                <td colspan="2" class="text-white text-center">Monto</td>
                                <td colspan="2" class="text-white text-center">Semana</td>
                                <td colspan="2" class="text-white text-center">Estatus</td>
                            </tr> 
                            {{#each credito/last_returns}}
                            <tr class="">
                                <td colspan="2" class="text-center">{{Monto}}</td>
                                <td colspan="2" class="text-center">{{Semana}}</td>
                                <td colspan="2" class="text-center"><i class="icon {{estatus_icon}}"></i> {{Estatus}}</td>
                            </tr> 
                            {{/each}}
                            <tr class="light-blue">
                                <td class="text-white text-center">Folio</td>
                                <td class="text-white text-center">Semana</td>
                                <td class="text-white text-center">Número Asociado</td>
                                <td class="text-white text-center">Código Asociado</td>
                                <td class="text-white text-center">Importe</td>
                                <td class="text-white text-center">Estatus</td>
                            </tr> 
                            {{#each credito/last_returns_detail}}
                            <tr class="">
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="icon aceptado"></i> </td>
                            </tr> 
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Sección crédito -->
        
        <!-- Sección entregas -->
        <section id="entregas">
            <div class="row">
                <div class="col-md-12">
                    <div class="title entregas"><i class="icon iconentregas">x</i> ENTREGAS</div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr class="dark-orange">
                                <td colspan="9" class="row-title"><i class="icon icono_pedidos_transito"></i> Pedidos en Tránsito</td>
                            </tr> 
                            <tr class="light-orange">
                                <td class="text-white text-center">Factura</td>
                                <td class="text-white text-center">Monto</td>
                                <td class="text-white text-center">Semana</td>
                                <td colspan="2" class="text-white text-center">Carrier</td>
                                <td colspan="2" class="text-white text-center">N. Guia</td>
                                <td colspan="2" class="text-white text-center">Estatus</td>
                            </tr> 
                            {{#each entregas/order_in_transit}}
                            <tr class="">
                                <td class="text-center">{{Factura}}</td>
                                <td class="text-center">{{Monto}}</td>
                                <td class="text-center">{{Semana}}</td>
                                <td colspan="2" class="text-center">{{Carrier}}</td>
                                <td colspan="2" class="text-center">{{No_guia}}</td>
                                <td colspan="2" class="text-center"><i class="icon aceptado"></i> {{Estatus}}</td>
                            </tr>
                            {{/each}}
                            <tr class="dark-orange">
                                <td colspan="9" class="row-title"><i class="icon icono_canjes"></i> Canjes en Tránsito</td>
                            </tr> 
                            <tr class="light-orange">
                                <td class="text-white text-center">Factura</td>
                                <td class="text-white text-center">Monto</td>
                                <td class="text-white text-center">Semana</td>
                                <td class="text-white text-center">Carrier</td>
                                <td class="text-white text-center">N. Guia</td>
                                <td class="text-white text-center">Estatus</td>
                                <td class="text-white text-center">Estatus</td>
                                <td class="text-white text-center">Estatus</td>
                                <td class="text-white text-center">Estatus</td>
                            </tr>
                            {{#each entregas/exchange_in_transit}}
                            <tr class="">
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="icon"></i> </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Sección entregas -->
